// Dark Colors
$darkest-grey: #222222;
$darker-grey: #333333;
$dark-grey: #444444;
$grey: #555555;
$light-grey: #666666;

// Flare colors
$flare-seafoam: #9fae8f;
$flare-aqua: #249f80;
$flare-leather: #885a5b;
$flare-purple: #463643;

// Light colors
$lightest-grey: #777777;
$flare-cream: #edeeea;
$flare-white: #fafafa;

// Shadows
$box-shadow: 3px 3px 0px $darkest-grey;